<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <h1>Hier werden alle wichtigen Metadaten aufgelistet</h1>
    <p>Konferenznummer: {{ metadata.conference_number }}</p>
    <p>Konferenzname: {{ metadata.conference_name }}</p>

    <!-- TODO: Will abstract the important meta data information from BBB API Request -->

    <p>Interne Meeting ID: {{ metadata.internal_meeting_id }}</p>
    <p>Filepath: {{ metadata.filepath }}</p>
</body>
</html>