<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Lecture List</title>

	<!-- Bootstrap Core CSS -->
	<link href="../static/dist/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom style for this template -->
	<link href="../static/css/lectures.css" rel="stylesheet">
	<link href="../static/css/carousel.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery-3.0.0.slim.js"></script>
	<script src="../static/dist/js/bootstrap.bundle.min.js"></script>

	<!-- If the above doesnt work -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        $(function() {
            $("#loading").load("ajax/loaded");
            $("#test").load("ajax/content");
        })
    </script>

</head>

<body>
	<header>
		<div class="navbar navbar-dark bg-dark shadow-sm">
			<div class="container d-flex justify-content-between">
				<a href="#" class="navbar-brand d-flex align-items-center">
					<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-play"
						fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M6 11.117V6.883a.5.5 0 0 1 .757-.429l3.528 2.117a.5.5 0 0 1 0 .858l-3.528 2.117a.5.5 0 0 1-.757-.43z" />
						<path
							d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z" />
						<path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z" />
					</svg>
					<strong>Summarization</strong>
				</a>
			</div>
		</div>
	</header>

	<!-- Middle Section of Content -->
	<main role="main">

		<section class="jumbotron text-center">
			<div class="container">
				<h1>Informationen zum Lehrenden? Modul? Veranstaltung? MetaData: <b>tbd</b></h1>
				<p class="lead text-muted">Kleine Beschreibung über das Summarization Modul???</p>
				<p>
					<a href="#" class="btn btn-primary my-2">Anzeige aller Präsentationen</a>
					<a href="#" class="btn btn-secondary my-2">Anzeige aller Zusammenfassungen</a>
				</p>
			</div>
		</section>

		<div class="album py-5 bg-light">
			<div class="container">
				<div class="row">

					<div class="col-md-12">
						<div class="card mb-4 shadow-sm">
							<svg class="bd-placeholder-img card-img-top" width="100%" height="225"
								xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
								focusable="false" role="img" aria-label="Placeholder: Thumbnail">
								<title>Placeholder</title>
								<rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
									dy=".3em">Placeholder</text>
							</svg>
							<div class="card-body justify-content-center align-items-center">
								<div id="loading">
                                    <div id="overlay" style="display: flex;">
                                        <div class="w-100 d-flex justify-content-center align-items-center">
                                            <div class="spinner"></div>
                                        </div>
                                    </div>
                                </div>
								<h5 class="card-title">Meeting ID: asdasdasdasdachnjkdsnlasashndchndjkas</h5>
								<p class="card-text">With supporting text below as a natural lead-in to additional
									content.
								</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</main>


	<footer class="text-muted">
		<div class="container">
			<p class="float-right">
				<a href="#">Back to top</a>
			</p>
			<p>University Hamburg</p>
			<p>Department of Informatics: Language Technology Group <a
					href="https://www.inf.uni-hamburg.de/en/inst/ab/lt/home.html">Visit the homepage</a>.</p>
		</div>
	</footer>

</body>

</html>