{% extends "base.html" %}
{% block title %} Lecture Overview {% endblock %}
{% block scripts %}
<script id="loading_script">
	$(function () {
		// parse internal_meeting_id for prepare_meeting_data route
		$("#loading").load("lectures/prepare_meeting_data?internal_meeting_id={{ metadata.internal_meeting_id }}");
		$("#loading_script").load("lectures/new_loading_script");
		$("#modalCenter").modal("show");
	})
</script>
{% endblock %}

<!-- Head of html -->
{% block head %}
{{ super() }}
{% endblock %}

<!-- Header -->
{% block header %}
{{ super() }}
{% endblock %}

<!-- Main content -->
{% block content %}
<section class="jumbotron text-center">
	<div class="container">
		<h1>Informationen zum Lehrenden? Modul? Veranstaltung? MetaData: <b>tbd</b></h1>
		<p class="lead text-muted">Kleine Beschreibung über das Summarization Modul???</p>
		<p>
			<a href="#" class="btn btn-primary my-2">Anzeige aller Präsentationen</a>
			<a href="#" class="btn btn-secondary my-2">Anzeige aller Zusammenfassungen</a>
		</p>
	</div>
</section>

<div class="album py-5 bg-light">
	<div class="container">
		<div class="row">

			<div class="col-md-12">
				<div class="card mb-4 shadow-sm">
					<svg class="bd-placeholder-img card-img-top" width="100%" height="225"
						xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
						role="img" aria-label="Placeholder: Thumbnail">
						<title>Placeholder</title>
						<rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
							dy=".3em">PLaceholder</text>
					</svg>
					<div class="card-body">
						<h5 class="card-title">Meetingname: {{ metadata.conference_name }}</h5>
						<p class="card-text">
						<ul class="list-group">
							<li class="list-group-item">Start time: {{ metadata.start_time }} </li>
							<li class="list-group-item">Current Presenter: {{ metadata.current_presenter }}</li>
						</ul>
						</p>
						<div class="d-flex justify-content-between align-items-center">
							<!-- Loading Overlay -->
							<div id="loading">
								<div id="overlay" style="display: flex;">
									<div class="w-100 d-flex justify-content-center align-items-center">
										<div class="spinner"></div>
									</div>
								</div>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
								<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
							</div>
							<small class="text-muted">{{ metadata.current_duration }} min</small>
						</div>
					</div>
				</div>
			</div>

			<!-- Modal -->
            <div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLongTitle">Pending!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            The summarization & alignment of the meeting is still ongoing, because of the running
                            meeting.
                            <br> <br>
                            Wait until the meeting is finished and the post processing of the meeting is done.
                            Visit this site again after everything is ready.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

		</div>
	</div>
</div>
{% endblock %}



<!-- Footer -->
{% block footer %}
{{ super() }}
{% endblock %}