{% extends "base.html" %}
{% block title %} Lecture Overview {% endblock %}
{% block scripts %}
<link href="{{ url_for('static', filename='css/summary.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/summary.js') }}"></script>
{% endblock %}

<!-- Head of html -->
{% block head %}
{{ super() }}
{% endblock %}

<!-- Header -->
{% block header %}
{{ super() }}
{% endblock %}

<!-- Main content -->
{% block content %}
<div class="py-5 background-color">

    <div class="container-fluid">
        <div class="row first-row">
            <div class="col pdf-container">
                <iframe class="pdf-iframe" src="{{ url_for('.show_static_pdf') }}" type="application/pdf"
                    frameborder="0"></iframe>
            </div>
            <div class="col">
                <div class="card">

                    <div class="card-header">
                        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Audio Transcription</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                            role="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            Alignment
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="#">Alignment</a>
                                            <a class="dropdown-item" href="#">Summarization</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>

                    <div class="card-body">
                        {% for sentence in transcription.sentences %}
                        <div class="row">
                            <p>
                                <div class="col-3">
                                    (<a href="#"
                                        onclick="setCurTime({{ sentence.start_time }})">{{ sentence.start_time }}</a> -
                                    <a href="#" onclick="setCurTime({{ sentence.end_time }})">{{ sentence.end_time }}</a>):
                                </div>
                                <div class="col-9">
                                    <span>{{ sentence.sentence }}</span>
                                </div>
                            </p>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <audio controls preload="auto" id="audio">
                <source src="{{ url_for('.serve_wav_file') }}" type="audio/wav">
            </audio>
        </div>
        <div class="row">
            <button onclick="setCurTime()" type="button">Set time position to 5 seconds</button><br>
            <button onclick="getCurTime()" type="button">Get current time position</button>
        </div>
    </div>
</div>






{% endblock %}

<!-- Footer -->
{% block footer %}
{{ super() }}
{% endblock %}